@import url(https://fonts.googleapis.com/css2?family=Krona+One&display=swap);

//VARIABLES
$krona-one: 'Krona One', sans-serif;

$mainGreen: #8D8741;
$mainBlue: #659DBD;
$mainSkin: #DAAD86;
$mainBrown: #BC986A;
$mainCream: #fbeec1;
$NavHoverBG: $mainCream;
$NavHoverTX:  $mainBlue;
//MIXINS
@mixin quickLinks {
  .links {
    display: flex;
    align-items: center;
  }
    a {
    color: $mainCream;
    padding: 5px;
    text-decoration: none; 
  }
a:hover {
    color: $NavHoverTX;
    background-color: $NavHoverBG;
  }
}
//STYLING
html {
  background-color: $mainBlue;
}
.App {
  text-align: center;
  background-color:$mainBlue;
}
h1, h2 {
  color: $mainCream;
  font-weight: normal;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  background-color: $mainBlue;
  padding: 10px;
  .title {
    align-self: center;
    font-family: $krona-one;
    font-weight: normal;
  }
  @include quickLinks;
}
.Footer {
  display: flex;
  justify-content: center;
  background-color: $mainBlue;
  padding: 10px;
  @include quickLinks;
}
//FORMS
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%; 
  height: 60vh; 
  padding: 5%;
  background-color: $mainCream;
  .submitButton {
    text-align: center;
  }
  button {
    width: 200px;
    background-color:$mainSkin;
    border-radius: 8px;
    padding: 5px;
    color: $mainGreen;
  }
  button:hover {
    color: $mainCream;
    background-color: $mainGreen;
  }
  label {
    padding: 10px;
    font-weight: bold;
    color: $mainGreen; 
  }
  input {
    max-width: 600px;
  }
}
.error {
  font-size: 1.2rem;
  color: red;
}

.workouts {

  display: flex;
  flex-direction: column;
  margin: auto;
  width: 50%;
  border: dotted black 1px;
}

.workoutcards { 
  background-color: rgba(164, 164, 255, 0.795);
  border: solid black 1px;
  padding: 1%;
  margin: 1%;
  border-radius: 10px;
}

.workoutTitleSpan {
  color: #3487f7;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
.workoutDetailsSpan{
  color: rgba(0,0,0,.6);
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
  font-weight: normal;
}