

.App {
  text-align: center;
  background-color: #DAAD86;
}


.App-link {
  color: #61dafb;
}

/* for SignUp form */
form {
  display: flex;
  flex-direction: column;
  width: 60%;  
  padding: 20%;
  background-color: #fbeec1;
}

form .submitButton {
  text-align: center;
}

form button {
  width: 200px;
  background-color: #659DBD;
  border-radius: 8px;
  padding: 5px;
  color: #fbeec1;
}

form button:hover {
  color: #659dbd;
  background-color: #fbeec1;
}

.error {
  font-size: 1.2rem;
  color: red;
}

form label {
  padding: 10px;
  font-weight: bold;
  color: #8D8741; 
}